/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* COLORES
Mimi Pink: #FAD2E1
Champagne Pink: #EDDCD2
Linen: #FFF1E6
Misty Rose: #FDE2E4
Light Cyan: #C5DEDD
Light Cyan 2: #D1E5E4
Azure (Web): #DAEAE9
Azure (Web) 2: #E1EEED
Azure (Web) 3: #E7F1F1
*/

/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7f1f1;
}

main {
    padding: 30px 30px;
}

h2 {
    font-family: Imperial Script;
    font-size: 60px;
}

p, a {
    font-family: Montserrat;
}

/* HEADER */
header {
    background-image: url('../img/header.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;   
}

.encabezado {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    height: 80%;
    background: fixed;
    padding-right: 20px;
}

/* Título */
.encabezado h1{
    font-family: Montserrat;
    margin-bottom: 0;
    background: fixed;
    font-size: 55px;
}

/* Subtítulo*/
.encabezado h3{
    font-family: Imperial Script;
    margin: 0;
    background: fixed;
    font-size: 60px;
}

.encabezado img {
    width: auto;
    height: 70px;
    padding: 0;
    border-radius: 5%;
}

/* MAIN */
.info p{
    margin: 0;
}

/* PROFESORA */
.profesora {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profesora img {
    border-radius: 20%;
    width: 25%;
    height: auto;
}

.quienSoy {
    margin: 15px;
}

.quienSoy p {
    padding: 10px;
}

/* FOOTER */
footer {
    background-color: #c6e8e9;
}

/* Contacto */
.contacto {
    /* Display */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 30px 10px;
}

.divContacto {
    /* Display */
    display: grid;
    justify-items: center;
}

.divContacto img{
    /* Logos */
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.divContacto a{
    margin: 0;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
